;
; This is the predefined default LSCWP configuration file
;
; All the keys and values please refer to `src/const.cls.php`
;
; Comments start with `;`
;

;; -------------------------------------------------- ;;
;; --------------          General         ---------- ;;
;; -------------------------------------------------- ;;

cache-priv = true
cache-commenter = true
cache-rest = true
cache-page_login = true
cache-favicon = true
cache-resources = true
cache-browser = false
cache-mobile = false
cache-exc_useragents = ''
cache-exc_cookies = ''
cache-exc_qs = ''
cache-exc_cat = ''
cache-exc_tag = ''
cache-force_uri = ''
cache-force_pub_uri = ''
cache-priv_uri = ''
cache-exc = ''
cache-exc_roles = ''
cache-drop_qs = 'fbclid
gclid
utm*
_ga'
cache-ttl_pub = 604800
cache-ttl_priv = 1800
cache-ttl_frontpage = 604800
cache-ttl_feed = 604800
cache-ttl_rest = 604800
cache-ttl_browser = 31557600
cache-ttl_status = '403 3600
404 3600
500 3600'
cache-login_cookie = ''
cache-vary_group = ''

purge-upgrade = true
purge-stale = false
purge-post_all = false
purge-post_f = true
purge-post_h = true
purge-post_p = true
purge-post_pwrp = true
purge-post_a = true
purge-post_y = false
purge-post_m = true
purge-post_d = false
purge-post_t = true
purge-post_pt = true

esi = false
esi-cache_admbar = true
esi-cache_commform = true
esi-nonce = 'stats_nonce
subscribe_nonce'

util-heartbeat = true
util-instant_click = false
util-check_advcache = true
util-no_https_vary = false

debug-disable_all = false
debug = false
debug-ips = '127.0.0.1'
debug-level = false
debug-filesize = 3
debug-cookie = false
debug-collaps_qs = false
debug-inc = ''
debug-exc = ''

db_optm-revisions_max = 0
db_optm-revisions_age = 0