docRoot                   {{ site.doc_root }}
vhDomain                  {{ site.domain }}
adminEmails               admin@{{ site.domain }}
enableGzip                1
enableIpGeo               1

index  {
  useServer               0
  indexFiles              index.php, index.html
}

context / {
  location                {{ site.doc_root }}
  allowBrowse             1
  indexFiles              index.php, index.html

  rewrite  {
    enable                1
    rules                 <<<END_RULES
rewriteEngine             On
rewriteCond %{REQUEST_FILENAME} !-f
rewriteCond %{REQUEST_FILENAME} !-d
rewriteRule . /index.php [L]
    END_RULES
  }
}

context /wp-admin/ {
  location                {{ site.doc_root }}/wp-admin/
  allowBrowse             1
  rewrite  {
    enable                0
  }
}

context /.well-known/ {
  location                {{ site.doc_root }}/.well-known/
  allowBrowse             1
  rewrite  {
    enable                0
  }
}

rewrite  {
  enable                  1
  autoLoadHtaccess        1
}

vhssl  {
  keyFile                 {{ lsws_dir }}/conf/cert/{{ site.domain }}.key
  certFile                {{ lsws_dir }}/conf/cert/{{ site.domain }}.crt
}

module cache {
  storagePath             /tmp/lscache
  checkPrivateCache       1
  checkPublicCache        1
  maxCacheObjSize         10000000
  maxStaleAge             200
  qsCache                 1
  reqCookieCache          1
  respCookieCache         1
  ignoreReqCacheCtrl      1
  ignoreRespCacheCtrl     0
  enableCache             0
  expireInSeconds         3600
  enablePrivateCache      0
  privateExpireInSeconds  3600
}

phpIniOverride  {
php_admin_value open_basedir              "{{ site.doc_root }}:/tmp:/var/tmp:/opt/alt/php74/usr/share/pear:/dev/urandom"
php_admin_value upload_tmp_dir            /tmp
php_admin_value session.save_path         /tmp
php_admin_value sendmail_path             /usr/sbin/sendmail -t -i
}